.message{
    position: fixed;
    display: flex;
    margin-left: 50%;
    left: -10%;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #51922c;
    color: #efefef;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 10;
    cursor: pointer;
}

h2{
    color: #efefef;
    font-size: 14px;
    padding: 0.8em;
}

p{
    color: #efefef;
    padding-bottom: 0.4em;
}